.notification {
  width: 80%;
  margin: auto;
  height: 3rem;
  background-color: #1a8ed1;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 10%;
  align-items: center;
  color: white;
  border-radius: 5px;
}

.notification__wrapper {
  position: fixed;
  width: 100vw;
  top: 20px;
  display: flex;
  justify-content: center;
}

.notification h2,
.notification p {
  font-size: 1rem;
  margin: 0;
}

.error {
  background-color: #690000;
}

.success {
  background-color: #1ad1b9;
}